[Unit]
Description=DavMail Exchange Gateway
Requires=default.target
After=default.target

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/bin/davmail
ExecStop=killall davmail

[Install]
WantedBy=multi-user.target
